body{
    width: 480px;
    background-color: #f9f7cf;
    
}



header{
    width: 480px;
    background-color: #f2dcbb;
    padding: 15px 5px 15px;
}

footer{
    width: 480px;
    background-color: #f2dcbb;
    padding: 15px 5px 15px;

}



